In [1]:
# Pandas 라이브러리를 불러옵니다.

import pandas as pd

In [3]:
# 2차원 DataFrame을 생성해 봅시다.
# index는 왼쪽, elements는 오른쪽에 위치합니다.
season_temps = pd.DataFrame({'Spring':[10, 14, 18], 'Summer':[24, 27, 30], 'Fall':[24, 21, 18], 'Winter':[8, 0, -5]})

# season_temps를 출력해 봅시다.
# 웨에서 설명한 바와 같이 대화형 코딩이 가능하므로 마지막 줄에 변수를 입력하면 해당 변수에 담긴 값이 출력됩니다.
season_temps

   Spring  Summer  Fall  Winter
0      10      24    24       8
1      14      27    21       0
2      18      30    18      -5

In [4]:
# season_temps를 요약한 정보를 확인해 봅시다.
season_temps.describe()

       Spring  Summer  Fall    Winter
count     3.0     3.0   3.0  3.000000
mean     14.0    27.0  21.0  1.000000
std       4.0     3.0   3.0  6.557439
min      10.0    24.0  18.0 -5.000000
25%      12.0    25.5  19.5 -2.500000
50%      14.0    27.0  21.0  0.000000
75%      16.0    28.5  22.5  4.000000
max      18.0    30.0  24.0  8.000000

In [5]:
#데이터의 일부를 출력해 봅시다.
"""
만약 100,000개의 데이터가 있다. 가정할 때 전체의 데이터를 출력해서 볼 수 있겠지만,
그만큼 시간도 많이 필요하기 때문에 많이 사용하는 코드입니다.
"""
season_temps.head()

   Spring  Summer  Fall  Winter
0      10      24    24       8
1      14      27    21       0
2      18      30    18      -5